<div class="column-layout group">
  <div class="row-layout group_1">
    <button igxButton="contained" igxRipple routerLink="/view1" class="button">
      <igx-icon>
        arrow_back
      </igx-icon>
      <span>Get back</span>
    </button>
  </div>
  <h5 class="h5">
    Toy Details
  </h5>
  <igx-input-group type="box" class="input">
    <input type="text" [value]="toyFromRequest?.id || null" [disabled]="true" igxInput />
    <label igxLabel>Label</label>
  </igx-input-group>
  <igx-input-group type="box" class="input">
    <input type="text" [value]="toyFromRequest?.name || null" [disabled]="true" igxInput />
    <label igxLabel>Label</label>
  </igx-input-group>
  <igx-input-group type="box" class="input">
    <input type="text" [value]="toyFromRequest?.price || null" [disabled]="true" igxInput />
    <label igxLabel>Label</label>
  </igx-input-group>
  <igx-input-group type="box" class="input">
    <input type="text" [value]="toyFromRequest?.categoryID || null" [disabled]="true" igxInput />
    <label igxLabel>Label</label>
  </igx-input-group>
</div>
