<div class="column-layout group">
  <igx-buttongroup class="button-group">
    <button igxButton igxRipple>
      Button
    </button>
    <button igxButton igxRipple>
      Button
    </button>
    <button igxButton igxRipple>
      Button
    </button>
  </igx-buttongroup>
</div>
<div class="column-layout group_1">
  <igx-card class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Title goes here...
      </h3>
      <h5 igxCardHeaderSubtitle>
        Subtitle goes here...
      </h5>
    </igx-card-header>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" igxRipple class="button">
          Button
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxRipple igxIconButton="flat" class="icon-button">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxRipple igxIconButton="flat" class="icon-button">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxRipple igxIconButton="flat" class="icon-button">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
</div>
