<div class="row-layout header">
  <div class="row-layout group">
    <div class="row-layout group_1">
      <igx-avatar src="/assets/Logo.svg" shape="circle" class="avatar"></igx-avatar>
      <h6 class="h6">
        App Name
      </h6>
    </div>
    <div class="row-layout group_2">
      <button igxButton="flat" igxRipple routerLink="/view1" class="button">
        VIEW 1
      </button>
      <button igxButton="flat" igxRipple routerLink="/view2" class="button">
        VIEW 2
      </button>
      <button igxButton="flat" igxRipple routerLink="/view3" class="button_1">
        VIEW 3
      </button>
    </div>
    <div class="row-layout group_3">
      <button igxRipple igxIconButton="flat" class="icon-button">
        <igx-icon>
          account_circle
        </igx-icon>
      </button>
      <button igxRipple igxIconButton="flat" class="icon-button">
        <igx-icon>
          shopping_cart
        </igx-icon>
      </button>
      <button igxRipple igxIconButton="flat" class="icon-button_1">
        <igx-icon>
          help
        </igx-icon>
      </button>
    </div>
  </div>
</div>
<div class="column-layout centered-content">
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="row-layout footer">
  <p class="ig-typography__body-2 text">
    Ut eros nunc, finibus ut nunc at, gravida mollis enim
  </p>
</div>
