:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.header {
  background-color: hsla(var(--ig-secondary-200));
  border-color: hsla(var(--ig-gray-200));
  border-width: 0px 0px 1px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 0 32px;
  height: 71px;
  min-height: 71px;
  max-height: 71px;
  flex-shrink: 0;
}
.group {
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  max-width: 960px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  min-height: 50px;
  flex-shrink: 0;
}
.group_2 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
  flex-shrink: 0;
}
.group_3 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.centered-content {
  background-color: hsla(var(--ig-secondary-200));
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 32px;
  min-width: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.footer {
  background-color: hsla(var(--ig-secondary-200));
  border-color: hsla(var(--ig-gray-200));
  border-width: 2px 0px 0px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 0 24px;
  height: 71px;
  min-height: 71px;
  max-height: 71px;
  flex-shrink: 0;
}
.avatar {
  --igx-avatar-background: transparent;
  margin: 0 16px 0 0;
}
.h6 {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.text {
  height: max-content;
  min-width: min-content;
}
.icon-button {
  --ig-size: var(--ig-size-small);
  margin: 0 16px 0 0;
}
.icon-button_1 {
  --ig-size: var(--ig-size-small);
}
.button {
  --igx-button-foreground: hsla(var(--ig-gray-900));
  --ig-size: var(--ig-size-medium);
  margin: 0 16px 0 0;
  height: max-content;
  flex-shrink: 0;
}
.button_1 {
  --igx-button-foreground: hsla(var(--ig-gray-900));
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
.view-container {
  overflow: auto;
  position: relative;
  max-width: 1300px;
  flex-grow: 1;
  flex-basis: 0;
}
